@import "leaflet/dist/leaflet.css";

input[type="file"] {
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background-color: #888;
  color: white;
  padding: 10px 20px;
  /* border-radius: 5px; */
  cursor: pointer;
}

input[type="file"]:hover::file-selector-button {
  background-color: #aaa;
}

a {
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  margin-bottom: 20px;
}

a:hover {
  background-color: #e0e0e0;
}