@import "leaflet/dist/leaflet.css";

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  min-height: calc(100vh - 40px);
}

.main-container h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tuto {
  padding: 15px;
  padding-bottom: 20px;
  text-align: center;
}

.tuto p {
  font-size: 1.1em;
  margin: 5px 0;
}

input[type="file"] {
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background-color: #888;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="file"]:hover::file-selector-button {
  background-color: #aaa;
}

input[type="date"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

input[type="date"]:hover {
  border-color: #888;
}

a {
  text-decoration: none;
  color: #2484fd;
}

.download {
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
}

.download:hover {
  background-color: #e0e0e0;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}

#mechanical {
  color: green;
  background-color: #f0fff4;
}

#electric {
  color: #2484fd;
  background-color: #f4f7ff;
}

#all {
  color: #555555;
  background-color: #f9f9f9;
}

#electric:hover {
  background-color: #d9e4f8;
}

#mechanical:hover {
  background-color: #dff3e3;
}

#all:hover {
  background-color: #e6e6e6;
}

#electric:disabled {
  background-color: #2484fd;
  color: white;
}

#mechanical:disabled {
  background-color: green;
  color: white;
}

#all:disabled {
  background-color: gray;
  color: white;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stations-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
}

#github {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
}